<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a basic TodoList app enabled with mongoDb database.
    You can now create a new list with your own custom list name.
  
</p>

<%- include("footer") -%>
